.astronaut {
  animation: float 2s infinite alternate-reverse linear;

  .rightArm {
    animation: waveArm 1s infinite linear;
    transform-origin: 50% 50%;
  }
}

.fire {
  animation: fire 0.7s infinite alternate-reverse linear;
  transform-origin: 54% 80%;
}

@keyframes float {
  0% {
    transform: translate(5px, 8px);
  }
  75% {
    transform: translate(6px, -5px);
  }
  25% {
    transform: translate(10px, 9px);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes waveArm {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes fire {
  0% {
    transform: scale(1.05, 1.05);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.95, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
