.moon {
  animation: float 2s infinite linear;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.2rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-0.2rem);
  }
  100% {
    transform: translateY(0);
  }
}
