@import "../styles/mixins/imports.scss";

.home {
  overflow-x: hidden;
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/background.svg");
  background-size: 500% 150%;
  background-position: center;
  z-index: -100;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: 500% 150%;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  justify-content: center;

  .heroTitle {
    position: absolute;
    left: 50%;
    line-height: 0.5rem;
    top: 0.5rem;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1.1rem;
  }

  .descriptionContainer {
    position: relative;
    .description {
      margin-top: 5rem;
      font-size: 1.7rem;
      width: 300px;
      text-align: center;
    }

    .moon {
      display: inline-block;
      border-radius: 50%;
      font-size: 1.5rem;
      border: none;
      background: transparent;
      position: relative;
      z-index: 100;
      animation: float 2.5s infinite linear;
      filter: saturate(75%);
      &::before {
        content: "";
        box-shadow: 0 0 35px 15px rgba(255, 255, 0, 0.717);
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 50;
      }
    }
    .astronautContainer {
      width: 255px;
      height: 300px;
      margin-top: 1rem;
    }
  }
}

.myWork {
  min-height: 50vh;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.1rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-0.1rem);
  }
  100% {
    transform: translateY(0);
  }
}
