@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

html,
head,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

.language_selector__single-value {
  display: grid;
  place-items: center;
}

.react-selector__option {
  display: grid;
  place-items: center;
}

.roundedImage {
  clip-path: circle(40% at 50% 50%);
}
